.footer {
    background-color: #e9d2f4;
    padding: 6rem 0 2rem;

    @include mq($until: mini) {
        padding: 3rem 0 2rem;
    }
    // .footer__wrapper

    &__wrapper {
        @include mq($until: mobile) {
            padding: 0 1.5rem;
        }
    }

    // .footer__main

    &__main {
        display: flex;
        justify-content: space-between;
        padding-bottom: 6rem;

        @include mq($until: mini) {
            flex-direction: column;
            padding-bottom: 4rem;
        }
    }

    // .footer__left

    &__left {
        flex-basis: 80%;
    }

    // .footer__qoute

    &__qoute {
        font-family: $lato;
        font-size: 38px;
        font-weight: 600;
        text-align: left;
        color: #2e3047;
        display: flex;
        flex-direction: column;
        @include mq($until: mini) {
            font-size: 28px;
        }
        @include mq($until: mobile) {
            font-size: 20px;
        }
    }

    // .footer__logo

    &__logo {
        width: 55px;
        height: 55px;
        border-radius: 28px;
        object-fit: scale-down;
        @include mq($until: mobile) {
            width: 30px;
            height: 30px;
        }
    }

    // .footer__logo1

    &__logo1 {
    }

    // .footer__logo2

    &__logo2 {
        background-color: #800080;
        @include mq($until: mobile) {
            margin-right: 60%;
        }
    }

    // .footer__logo3

    &__logo3 {
        background-color: #3ba99c;
    }

    // .footer__logo4

    &__logo4 {
        background-color: #ff1493;
    }

    // .footer__title

    &__title {
        font-family: $georgia;
        font-size: 72px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: -0.72px;
        text-align: left;
        color: #1873f2;
        line-height: 1;
        margin: 5rem 0 0rem;
        span {
            font-style: normal;
            margin-right: -10px;
        }
        @include mq($until: mini) {
            font-size: 56px;
            margin: 2rem 0 0rem;
        }
        @include mq($until: mobile) {
            font-size: 28px;
            letter-spacing: -0.01em;

            span {
                margin: 0 -4px 0 0px;
            }
        }
    }

    // .footer__titleFirst

    &__titleFirst {
        font-family: $lato;
        color: #2e3047;
    }

    // .footer__copyEmailWrapper

    &__copyEmailWrapper {
        margin: 0 0 0.5rem;
    }

    // .footer__email

    &__email {
        font-family: $lato;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #2e3047;
        background: #0000;
        border: none;
        width: 300px;

        &:focus-visible {
            outline: none;
        }

        @include mq($until: mobile) {
            font-size: 16px;
            width: 240px;
        }
    }

    // .footer__copyLink

    &__copyLink {
        font-family: $lato;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #f7f4f9;
        background: #0000;
        border: none;
        padding: 0;
        transform: translateX(-8px);
        @include mq($until: mobile) {
            font-size: 16px;
        }
    }

    // .footer__copyLinkIcon

    &__copyLinkIcon {
    }

    // .footer__copiedText

    &__copiedText {
        margin-left: 0px;
        display: none;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        letter-spacing: 0.14px;
        text-align: left;
        color: #2e3047;

        @include mq($until: mobile) {
            font-size: 12px;
        }
    }

    // .footer__link

    &__link {
        font-family: $lato;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #f7f4f9;
        border-radius: 56px;
        background-color: #1873f2;
        padding: 0.5rem 2rem;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        line-height: 1;
        gap: 10px;
        position: relative;
        height: 48px;

        @include mq($until: mobile) {
            font-size: 14px;
            padding: 1rem 1.5rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 90%;
            height: 45%;
            opacity: 0.5;
            border-radius: 126px;
            background-image: linear-gradient(
                to bottom,
                #fff 0%,
                rgba(255, 255, 255, 0)
            );
        }
    }

    // .footer__linkIcon

    &__linkIcon {
    }

    // .footer__right

    &__right {
        flex-basis: 20%;
        border-radius: 150px;
        background-color: #3ba99c;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        max-width: 230px;
        max-height: 380px;

        @include mq($until: mini) {
            flex-direction: row;
            justify-content: space-between;
            max-width: 60%;
            max-height: 190px;
            margin: 4rem 0;
        }
        @include mq($until: mobile) {
            max-width: 257px;
            max-height: 140px;
            padding: 0.7rem;
        }
    }

    // .footer__rightMobile

    &__rightMobile {
        display: none;
        @include mq($until: mini) {
            display: flex;
        }
    }

    // .footer__rightDesktop

    &__rightDesktop {
        @include mq($until: mini) {
            display: none;
        }
    }
    // .footer__profileImg

    &__profileImg {
        width: 200px;
        @include mq($until: mini) {
            width: 160px;
        }
        @include mq($until: mobile) {
            width: 120px;
        }
    }

    // .footer__roundTextImg

    &__roundTextImg {
        transform: translateY(60px);
        @include mq($until: mini) {
            transform: translate(120px, 0);
        }
        @include mq($until: mobile) {
            transform: translate(47px, 0);
            width: 160px;
        }
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .footer__bottomMobile

    &__bottomMobile {
        display: none;
        @include mq($until: mini) {
            display: flex;
        }
    }

    // .footer__bottomDesktop

    &__bottomDesktop {
        @include mq($until: mini) {
            justify-content: center;
            .footer__bottomLinks {
                display: none;
            }
        }
    }

    // .footer__copyRights

    &__copyRights {
        font-family: Arial;
        font-size: 14px;
        letter-spacing: -0.56px;
        text-align: left;
        color: #2e3047;
        margin-bottom: 0;

        span {
            margin: 0 0.5rem;
        }

        @include mq($until: mobile) {
            max-width: 265px;
            text-align: center;
            font-size: 12px;

            span {
                display: none;
            }
        }
    }

    // .footer__bottomLinks

    &__bottomLinks {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;

        @include mq($until: mini) {
            margin-top: 1.5rem;
        }
        @include mq($until: mobile) {
            gap: 0.7rem;
            margin-top: 1rem;
        }
    }

    // .footer__bottomLink

    &__bottomLink {
        font-family: $lato;
        font-size: 14px;
        line-height: 1;
        text-align: left;
        a {
            color: #2e3047;
            text-decoration: none;
        }
        span {
            opacity: 0.6;
        }
    }
    // .footer__connect5

    &__connect {
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color: #2e3047;
        @include mq($until: mobile) {
            font-size: 14px;
        }
    }
    // .footer_linkIcon

    &_linkIcon {
        margin-left: 2px;
    }
}
