.navbar {
	padding-top: 1rem;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 11111;
	width: 65%;
	max-width: 950px;
	margin: 0.5rem auto 0;

	.container {
		border-radius: 44px;
		// border: solid 2px rgba(46, 48, 71, 0.04);
		background-color: #fff;
		box-shadow: 0px 4px 37px 0px rgba(58, 73, 249, 0.1);
	}

	// .navbar-expand
	&-expand {
	}

	// .navbar-brand
	&-brand {
		img {
			width: 120px;
			@include mq($until: mobile) {
				width: 70px;
			}
		}
	}

	// .navbar-toggler
	&-toggler {
	}

	// .navbar-toggler
	&-toggler {
	}

	// .navbar-collapse
	&-collapse {
	}

	// .navbar-nav
	&-nav {
		align-items: center;
		gap: 2rem;
		.nav {
			// .nav-item
			&-item {
			}

			// .nav-link
			&-link {
				font-family: $lato;
				font-size: 16px;
				line-height: 1.58;
				letter-spacing: 0.16px;
				text-align: left;
				color: #2e3047;
			}
		}
		.nav-link.active {
			position: relative;
			color: #2e3047;

			&::after {
				position: absolute;
				content: "";
				bottom: 5px;
				left: 0.5rem;
				width: 50%;
				height: 2px;
				border-radius: 1rem;
				background-color: #1873f2;
			}
		}
		.resume-link {
			.nav-link {
				font-weight: bold;
				border-radius: 22px;
				background-color: #e9d2f4;
				padding: 0.5rem 1.5rem;
				position: relative;
				line-height: 1;
				display: flex;
				gap: 5px;
				align-items: center;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 90%;
					height: 45%;
					opacity: 0.5;
					border-radius: 126px;
					background-image: linear-gradient(
						to bottom,
						#fff 0%,
						rgba(255, 255, 255, 0)
					);
				}

				.resume-downloadIcon {
					width: 20px;
				}
			}
		}
	}
}
