// Hero Section

.hero {
    position: relative;
    padding: 9rem 0 12rem;
    background-color: rgba(233, 210, 244, 0.1);

    @include mq($until: mini) {
        padding: 6rem 0;
    }

    @include mq($until: mobile) {
        padding: 5rem 0;
    }

    // .hero__wrapper

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq($until: mobile) {
            padding: 0 1.5rem;
        }
    }

    // .hero__sidebar

    &__sidebar {
        max-width: 400px;
        padding: 1.5rem 1.25rem 1.25rem 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
        border-radius: 12px;
        box-shadow: 0px 18px 37.5px 0px rgba(58, 73, 249, 0.1);
        background-color: #fff;
        position: sticky;
        top: 10rem;
        align-self: flex-start;
        height: fit-content;

        @include mq($until: mini) {
            position: static;
        }
    }

    // .hero__sidebarDesktop

    &__sidebarDesktop {
        @include mq($until: mini) {
            display: none;
        }
    }

    // .hero__sidebarWrapper

    &__sidebarWrapper {
    }

    // .hero__profile

    &__profile {
        width: 100%;
        border-radius: 6px;
        background-color: #e9d2f4;
    }

    // .hero__profileImg

    &__profileImg {
        width: 85%;
        object-fit: contain;
        margin-top: -2rem;
    }

    // .hero__profileContent

    &__profileContent {
    }

    // .hero__profileName

    &__profileName {
        font-family: $georgia-bold;
        font-size: 26px;
        font-weight: bold;
        color: #1873f2;
        margin: 0;
        line-height: 1.2;
        @include mq($until: mobile) {
            font-size: 24px;
        }
    }

    // .hero__profileLocation

    &__profileLocation {
        font-family: $lato;
        font-size: 16px;
        color: #171d1c;
        margin-bottom: 2.5rem;

        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .hero__quoteIcon

    &__quoteIcon {
        margin-bottom: 5px;
    }

    // .hero__profileDescription

    &__profileDescription {
        font-family: $lato;
        font-size: 16px;
        letter-spacing: 0.16px;
        color: #171d1c;
        margin: auto 2rem;
        line-height: 1.25;
        @include mq($until: mini) {
            margin: unset;
            max-width: 280px;
        }

        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .hero__main

    &__main {
        max-width: 55%;
        flex-grow: 1;
        margin-top: 4rem;

        @include mq($until: mini) {
            max-width: 100%;
        }
    }

    // .hero__mainFirstFold

    &__mainFirstFold {
    }

    // .hero__text

    &__text {
        position: relative;
    }

    // .hero__doodleArrow

    &__doodleArrow {
        position: absolute;
        left: -4.5rem;
        top: 1rem;

        @include mq($until: mini) {
            width: 30px;
            left: -1.5rem;
            top: 0.5rem;
        }

        @include mq($until: mobile) {
            width: 24px;
            left: -1.25rem;
        }
    }

    // .hero__doodleText

    &__doodleText {
        font-family: $brownist;
        font-size: 26px;
        text-align: left;
        color: #16bac5;
        margin: 0 0 0 10px;
        letter-spacing: 1.04px;

        @include mq($until: mini) {
            font-size: 18px;
            line-height: 1;
            margin: 0 0 0 5px;
        }

        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .hero__title

    &__title {
        font-family: $georgia-bold;
        font-size: 100px;
        font-weight: bold;
        text-align: left;
        color: #1873f2;
        line-height: 0.95;
        letter-spacing: 1px;

        @include mq($until: mini) {
            font-size: 68.98px;
        }

        @include mq($until: mobile) {
            font-size: 47.98px;
        }

        span {
            font-size: 108.1px;
            color: #e9d2f4;

            @include mq($until: mini) {
                font-size: 74.42px;
            }

            @include mq($until: mobile) {
                font-size: 51.98px;
            }
        }
    }

    // .hero__subTitle

    &__subTitle {
        font-family: $lato;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.16px;
        text-align: left;
        color: #2e3047;
        margin: 2rem 0 2rem;
        max-width: 670px;

        @include mq($until: mobile) {
            font-size: 14px;
            max-width: 340px;
        }
    }

    // .hero__stats

    &__stats {
        display: flex;
        gap: 10rem;
        margin-top: 2rem;

        @include mq($until: mini) {
            justify-content: space-between;
            gap: unset;
        }
    }

    // .hero__stat

    &__stat {
        max-width: 4rem;
        @include mq($until: mini) {
            max-width: unset;
        }
    }

    // .hero__statNumber

    &__statNumber {
        font-family: $lato;
        font-size: 64px;
        font-weight: bold;
        text-align: left;
        color: #1873f2;
        margin-bottom: 0;

        @include mq($until: mini) {
            font-size: 48px;
        }

        @include mq($until: mobile) {
            font-size: 36px;
        }
    }

    // .hero__statText

    &__statText {
        font-family: $lato;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.16px;
        text-align: left;
        color: #2e3047;

        @include mq($until: mini) {
            max-width: min-content;
        }

        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .hero__mainSecondFold

    &__mainSecondFold {
        margin-top: 9rem;

        @include mq($until: mobile) {
            margin-top: 5rem;
        }
    }

    // .hero__mainSecondFoldText

    &__mainSecondFoldText {
        position: relative;
        margin-bottom: 1rem;

        @include mq($until: mobile) {
            margin: 0 0 1rem 1rem;
        }
    }

    // .hero__doodleImage

    &__doodleImage {
        position: absolute;
        left: -3rem;
        top: 0;

        @include mq($until: mini) {
            width: 20px;
            left: -1.25rem;
        }
    }

    // .hero__doodleTextTwo

    &__doodleTextTwo {
        font-family: $brownist;
        font-size: 26px;
        text-align: left;
        color: #16bac5;
        margin: 0 0 -5px 0;
        line-height: 1;
        letter-spacing: 1.04px;
        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .hero__mainSecondFoldTitle

    &__mainSecondFoldTitle {
        font-family: $georgia-bold;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.32px;
        text-align: left;
        color: #2e3047;

        @include mq($until: mobile) {
            font-size: 24px;
        }
        span {
            color: #1873f2;
        }
    }

    // .hero__accordion

    &__accordion {
        .accordion {
        }
        .accordion-item {
            border: none;
            background-color: #0000;
            border-bottom: solid 1px rgba(238, 238, 238, 0.93);
        }
        .accordion-header {
        }
        .accordion-button {
            font-family: $lato-semi-bold;
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #2e3047;
            box-shadow: none;
            padding: 2rem 1rem 0.5rem;
            border-color: rgba(238, 238, 238, 0.93);
            background-color: #0000;
            text-transform: lowercase;
            @include mq($until: mobile) {
                font-size: 14px;
                padding: 2rem 0.5rem 0.5rem;
            }

            &:is(.collapsed) {
                padding: 2rem 1rem;

                @include mq($until: mobile) {
                    padding: 2rem 0.5rem;
                }
            }
        }
        .accordion-collapse {
        }
        .collapse {
        }
        .show {
        }
        .accordion-body {
            font-family: $lato;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.16px;
            text-align: left;
            color: #2e3047;
            padding: 1rem;

            @include mq($until: mobile) {
                font-size: 12px;
                padding: 1rem 0.5rem;
            }
        }
        .collapsed {
            background-color: #0000;
        }
    }

    // .hero__sidebarWrapper

    &__sidebarWrapper {
        display: none;

        @include mq($until: mini) {
            display: flex;
            margin-top: 3rem;
            max-width: 100%;
        }
    }
}

// My Projects Section

.projects {
    background-color: #242531;
    padding: 7rem 0 3rem;

    @include mq($until: mobile) {
        padding: 3rem 0 2rem;
    }
    // .projects__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        // align-items: center;

        @include mq($until: mobile) {
            padding: 0 1.5rem;
        }
    }

    // .projects__header

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq($until: mini) {
            justify-content: center;
        }
    }

    // .projects__text

    &__text {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    // .projects__doodleImg

    &__doodleImg {
        @include mq($until: mini) {
            width: 50px;
        }
        @include mq($until: mobile) {
            width: 40px;
        }
    }

    // .projects__textWrapper

    &__textWrapper {
    }

    // .projects__doodleText

    &__doodleText {
        font-family: $brownist;
        font-size: 26px;
        text-align: left;
        color: #e9d2f4;
        margin-bottom: 0;
        line-height: 1;
        letter-spacing: 1.04px;

        @include mq($until: mini) {
            font-size: 18px;
        }
        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .projects__title

    &__title {
        font-family: $georgia-bold;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.32px;
        text-align: left;
        color: #16bac5;
        margin-bottom: 0;

        @include mq($until: mobile) {
            font-size: 24px;
        }
    }

    // .projects__button

    &__button {
        font-family: $lato;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: #f7f4f9;
        border-radius: 56px;
        background-color: #1873f2;
        padding: 0.5rem 2rem;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        line-height: 1;
        gap: 10px;
        position: relative;
        height: 48px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 90%;
            height: 45%;
            opacity: 0.5;
            border-radius: 126px;
            background-image: linear-gradient(
                to bottom,
                #fff 0%,
                rgba(255, 255, 255, 0)
            );
        }
    }

    // projects__buttonDesktop

    &__buttonDesktop {
        @include mq($until: mini) {
            display: none;
        }
    }

    // projects__buttonMobile

    &__buttonMobile {
        display: none;
        @include mq($until: mini) {
            display: inline-flex;
            width: max-content;
            margin: 0 auto;
        }

        @include mq($until: mini) {
            font-size: 14px;
            padding: 1rem 2rem;
        }
    }

    // .projects__buttonArrow

    &__buttonArrow {
        margin-left: 5px;
        transition: all 0.2s ease-in-out;
    }

    // .projects__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem 0;

        @include mq($until: mobile) {
            gap: 2rem;
            padding: 2rem 0;
        }
    }

    // .projects__single

    &__single {
        display: flex;
        gap: 1.5rem;
        min-height: 520px;
        padding: 1.5rem;
        border-radius: 24px;
        background-color: rgba(255, 255, 255, 0.05);

        @include mq($until: mini) {
            flex-direction: column;
            padding: 1rem;
        }

        @include mq($until: mobile) {
            gap: 1rem;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            @include mq($until: mini) {
                flex-direction: column;
            }
        }

        &:nth-child(3) {
            .projects__details {
                background-color: #e4f0e0;
            }
            .projects__projectTag {
                background-color: rgba(67, 79, 62, 0.15);
            }
        }
    }

    // .projects__projectOne

    &__projectOne {
        .projects__details {
            &::after {
                background-image: url("../../images/home/project-icon-1.svg");
            }
        }
    }

    // .projects__projectTwo

    &__projectTwo {
        .projects__details {
            background-color: #fdeedb;

            &::after {
                background-image: url("../../images/home/project-icon-2.svg");
            }
            .projects__projectTag {
                background-color: #fae0c4;
            }
        }
    }

    // .projects__projectThree

    &__projectThree {
        .projects__details {
            &::after {
                background-image: url("../../images/home/project-icon-3.svg");
                transform: scale(0.9);
                right: -6.5rem;
                top: -2rem;
            }
        }
    }

    // .projects__projectFour

    &__projectFour {
        .projects__details {
            background-color: #fdeedb;

            &::after {
                background-image: url("../../images/home/project-icon-2.svg");
            }

            .projects__projectTag {
                background-color: #fae0c4;
            }
        }
    }

    // .projects__preview

    &__preview {
        border-radius: 12px;
        flex-basis: 60%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .projects__image

    &__image {
        width: calc(100% + 1rem);
        height: calc(100% + 1rem);
        -o-object-fit: cover;
        object-fit: cover;

        @include mq($until: mini) {
            display: none;
        }
    }

    // .projects__imageMobile

    &__imageMobile {
        display: none;

        @include mq($until: mini) {
            display: block;
        }
    }

    // .projects__details

    &__details {
        flex-basis: 40%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 12px;
        background-color: #fee6e7;
        position: relative;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -2rem;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-repeat: no-repeat;

            @include mq($until: mini) {
                background-size: contain;
                right: 0;
                width: 80%;
            }
        }

        &:hover {
            .projects__viewButton {
                margin-bottom: 0;
            }
        }
    }

    // .projects__projectLogo

    &__projectLogo {
    }

    // .projects__projectTitle

    &__projectTitle {
        font-family: $lato-semi-bold;
        font-size: 26px;
        font-weight: 900;
        line-height: 1.4;
        text-align: left;
        align-self: stretch;
        color: #2e3047;
        margin-top: auto;

        @include mq($until: mini) {
            margin-top: 36%;
        }

        @include mq($until: mobile) {
            font-size: 16px;
        }
    }

    // .projects__projectDesc

    &__projectDesc {
        font-family: $lato;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.16px;
        text-align: left;
        align-self: stretch;
        color: #2e3047;
        max-width: 430px;

        @include mq($until: mobile) {
            font-size: 12px;
        }
    }

    // .projects__projectTags

    &__projectTags {
        display: flex;
        gap: 0.5rem;
    }

    // .projects__projectTag

    &__projectTag {
        font-family: $lato;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: 0.2px;
        text-align: center;
        color: #2e3047;
        margin-bottom: 0;
        border-radius: 25px;
        background-color: #f8d8d8;
        padding: 3px 10px;

        @include mq($until: mobile) {
            font-size: 8px;
        }
    }

    // .projects__viewButton

    &__viewButton {
        font-family: $lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: rgba(46, 48, 71, 1);
        letter-spacing: 0.01em;
        text-align: left;
        text-decoration: none;
        background-color: #fff;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.75rem 0;
        margin-top: 2rem;
        border-radius: 22px;
        transition: all 0.2s ease-in-out;
        margin-bottom: -4.5rem;
    }
}

// Client Section

.clients {
    padding: 10rem 0;

    @include mq($until: mini) {
        padding: 4rem 0;
    }

    // .clients__headerWrapper

    &__headerWrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;

        @include mq($until: mobile) {
            margin-bottom: 1.5rem;
        }
    }
    // .clients__header

    &__header {
        position: relative;
        max-width: 500px;
    }

    // .clients__doodleImg

    &__doodleImg {
        position: absolute;
        left: -5rem;
        top: 0;

        @include mq($until: mobile) {
            width: 40px;
            transform: rotate(-30deg);
            left: -2.5rem;
        }
    }

    // .clients__doodleText

    &__doodleText {
        font-family: $brownist;
        font-size: 26px;
        text-align: left;
        color: #16bac5;
        margin-bottom: 0;
        line-height: 1;
        letter-spacing: 1.04px;
        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .clients__title

    &__title {
        font-family: $georgia-bold;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.32px;
        text-align: left;
        color: #2e3047;

        @include mq($until: mini) {
            max-width: 260px;
        }

        @include mq($until: mobile) {
            max-width: 200px;
            font-size: 24px;
            line-height: 1.2;
            margin-top: 5px;
        }

        span {
            color: #1873f2;
        }
    }

    // .clients__sliderTop

    &__sliderTop {
        margin-bottom: 1.5rem;
        overflow: hidden;
    }

    // .clients__sliders

    &__sliders {
        gap: 1.5rem;
        transition-timing-function: linear;
    }

    // .clients__slide

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: unset !important;
        height: unset;
        padding: 2rem 4rem;
        border-radius: 12px;
        overflow: hidden;

        @include mq($until: mobile) {
            padding: 0;
        }
    }

    // .clients__slide-1

    &__slide-1 {
        background-color: rgba(34, 162, 220, 0.1);
    }

    // .clients__slideLogo

    &__slideLogo {
        object-fit: contain;
        @include mq($until: mobile) {
            transform: scale(0.6);
        }
    }

    // .clients__slide-2

    &__slide-2 {
        background-color: #fdeedb;
    }

    // .clients__slide-3

    &__slide-3 {
        background-color: rgba(192, 29, 40, 0.07);
    }

    // .clients__slide-4

    &__slide-4 {
        background-color: rgba(253, 199, 92, 0.1);
    }

    // .clients__slide-5

    &__slide-5 {
        background-color: rgba(34, 162, 220, 0.1);
    }
    // .clients__slide-6

    &__slide-6 {
        background-color: #fdeedb;
    }

    // .clients__slide-7

    &__slide-7 {
        background-color: rgba(192, 29, 40, 0.07);
    }

    // .clients__slide-8

    &__slide-8 {
        background-color: rgba(253, 199, 92, 0.1);
    }

    // .clients__slide-9

    &__slide-9 {
        background-color: rgba(34, 162, 220, 0.1);
    }

    // .clients__slide-10

    &__slide-10 {
        background-color: #fdeedb;
    }

    // .clients__slide-11

    &__slide-11 {
        background-color: rgba(192, 29, 40, 0.07);
    }

    // .clients__slide-12

    &__slide-12 {
        background-color: rgba(253, 199, 92, 0.1);
    }

    // .clients__slide-13

    &__slide-13 {
        background-color: rgba(34, 162, 220, 0.1);
    }

    // .clients__slide-14

    &__slide-14 {
        background-color: #fdeedb;
    }

    // .clients__slide-15

    &__slide-15 {
        background-color: rgba(192, 29, 40, 0.07);
    }

    // .clients__slide-16

    &__slide-16 {
        background-color: rgba(253, 199, 92, 0.1);
    }

    // .clients__slide-17

    &__slide-17 {
        background-color: rgba(34, 162, 220, 0.1);
    }

    // .clients__slide-18

    &__slide-18 {
        background-color: #fdeedb;
    }

    // .clients__sliderBottom

    &__sliderBottom {
        // direction: ltr;
        overflow: hidden;

        @include mq($until: mobile) {
            height: 110px;
        }
    }

    // .clients__slide-01

    &__slide-01 {
        background-color: rgba(38, 55, 127, 0.06);
    }

    // .clients__slide-02

    &__slide-02 {
        background-color: rgba(255, 0, 18, 0.04);
    }

    // .clients__slide-03

    &__slide-03 {
        background-color: #f5f5f5;
    }

    // .clients__slide-04

    &__slide-04 {
        background-color: rgba(4, 120, 255, 0.1);
    }

    // .clients__slide-05

    &__slide-05 {
        background-color: rgba(38, 55, 127, 0.06);
    }

    // .clients__slide-06

    &__slide-06 {
        background-color: rgba(255, 0, 18, 0.04);
    }

    // .clients__slide-07

    &__slide-07 {
        background-color: #f5f5f5;
    }

    // .clients__slide-08

    &__slide-08 {
        background-color: rgba(4, 120, 255, 0.1);
    }

    // .clients__slide-09

    &__slide-09 {
        background-color: rgba(38, 55, 127, 0.06);
    }

    // .clients__slide-010

    &__slide-010 {
        background-color: rgba(255, 0, 18, 0.04);
    }

    // .clients__slide-011

    &__slide-011 {
        background-color: #f5f5f5;
    }

    // .clients__slide-012

    &__slide-012 {
        background-color: rgba(4, 120, 255, 0.1);
    }

    // .clients__slide-013

    &__slide-013 {
        background-color: rgba(38, 55, 127, 0.06);
    }

    // .clients__slide-014

    &__slide-014 {
        background-color: rgba(255, 0, 18, 0.04);
    }

    // .clients__slide-015

    &__slide-015 {
        background-color: #f5f5f5;
    }

    // .clients__slide-016

    &__slide-016 {
        background-color: rgba(4, 120, 255, 0.1);
    }
}

// Feedback Section

.feedback {
    background-color: #1873f2;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 3rem 0 7rem;

    @include mq($until: mini) {
        border-radius: 0;
    }
    @include mq($until: mobile) {
        padding: 1.5rem 0 7rem;
    }
    // .feedback__ribbon

    &__ribbon {
        overflow: hidden;
        transform: rotate(-2.5deg);
        background-color: #fff;
    }

    // .feedback__ribbonWrapper

    &__ribbonWrapper {
        gap: 1rem;
        transition-timing-function: linear;
        @include mq($until: mobile) {
            gap: 0.45rem;
        }
    }

    // .feedback__ribbonSingle

    &__ribbonSingle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }

    // .feedback__ribbonIcon

    &__ribbonIcon {
        @include mq($until: mobile) {
            width: 15px;
        }
    }

    // .feedback__ribbonText

    &__ribbonText {
        font-family: $lufga;
        font-size: 48px;
        letter-spacing: -0.72px;
        text-align: left;
        color: #000;
        margin: 0 0 0 1rem;

        @include mq($until: mini) {
            font-size: 28px;
        }

        @include mq($until: mobile) {
            font-size: 13.54px;
            margin: 0 0 0 5px;
        }
    }

    // .feedback__wrapper

    &__wrapper {
        position: relative;

        &::before {
            position: absolute;
            content: url("../../images/home/slide-left.png");
            top: 7rem;
            left: -4%;
            z-index: 2;
            width: auto;
            height: auto;
            transform: scale(0.6) translateY(-70px);
        }

        &::after {
            position: absolute;
            content: url("../../images/home/slide-right.png");
            top: 7rem;
            left: 65%;
            z-index: 2;
            width: auto;
            height: auto;
            transform: scale(0.6) translateY(-70px);
        }
    }

    // .feedback__header

    &__header {
        position: relative;
        max-width: 750px;
        margin: 12rem auto -2rem;
        display: flex;

        @include mq($until: mini) {
            margin: 10rem auto 0rem;
            justify-content: center;
        }

        @include mq($until: mobile) {
            margin: 6rem auto 0rem;
        }
    }

    // .feedback__quote

    &__quote {
        margin-right: 2rem;

        @include mq($until: mini) {
            width: 120px;
            transform: translate(-25px, 30px);
            margin-right: 0;
            position: relative;
            z-index: 11;
        }
        @include mq($until: mobile) {
            width: 65px;
            transform: translate(-18px, 35px);
        }
    }

    // .feedback__text

    &__text {
        @include mq($until: mini) {
            max-width: 240px;
        }
        @include mq($until: mobile) {
            max-width: 210px;
            margin: 0 0 1rem 0;
        }
    }

    // .feedback__doodleText

    &__doodleText {
        font-family: $brownist;
        font-size: 26px;
        text-align: left;
        color: #e9d2f4;
        line-height: 1;
        margin-bottom: 0;
        letter-spacing: 1.04px;
        @include mq($until: mobile) {
            font-size: 14px;
        }
    }

    // .feedback__title

    &__title {
        font-family: $georgia-bold;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.32px;
        text-align: left;
        color: #f7f4f9;
        margin-bottom: 0;

        @include mq($until: mobile) {
            font-size: 24px;
            line-height: 1.2;
        }
    }

    // .feedback__doodleImg

    &__doodleImg {
        position: absolute;
        right: 4rem;
        bottom: -3rem;
        @include mq($until: mini) {
            display: none;
        }
    }

    // .feedback__slider

    &__slider {
        margin: 0 auto;
        overflow: hidden;
        width: 415px;
        max-height: 424px;
        position: relative;

        @include mq($until: mini) {
            min-height: unset;
        }

        @include mq($until: mobile) {
            width: 250px;
        }

        .swiper-button-next {
            top: 7.25rem;
            right: 5.5rem;

            @include mq($until: mobile) {
                top: 4.5rem;
                right: 3rem;
            }

            &::after {
                content: url("../../images/home/bi_arrow-right.svg");
                @include mq($until: mobile) {
                    transform: scale(0.7);
                }
            }
        }

        .swiper-button-prev {
            top: 7.25rem;
            left: 5rem;
            @include mq($until: mobile) {
                top: 4.5rem;
                left: 2.5rem;
            }
            &::after {
                content: url("../../images/home/bi_arrow-left.svg");
                @include mq($until: mobile) {
                    transform: scale(0.7);
                }
            }
        }

        /* Reset rotation for active slides */
        .swiper-slide-active {
            transform: rotate(0);
        }

        /* Rotate next slide clockwise */
        .swiper-slide-rotate-next {
            transform: rotate(0); /* Reset to original rotation */
        }

        /* Rotate previous slide counterclockwise */
        .swiper-slide-rotate-prev {
            transform: rotate(0); /* Reset to original rotation */
        }

        .swiper-slide-next {
            transform: rotate(90deg); /* Rotate 90 degrees clockwise */
        }

        .swiper-slide-prev {
            transform: rotate(-90deg); /* Rotate 90 degrees counterclockwise */
        }
    }

    // .feedback__slides

    &__slides {
        max-height: 424px;
        @include mq($until: mini) {
            min-height: unset;
        }
    }

    // .feedback__slide

    &__slide {
        border-radius: 12px;
        background-color: #fff;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 424px;
        transform-origin: bottom center; /* Set the pivot point at the bottom */
        transition: transform 0.4s ease; /* Smooth transition for rotation */

        @include mq($until: mini) {
            padding: 3rem;
            min-height: unset;
        }

        @include mq($until: mobile) {
            padding: 2rem 0;
        }
    }

    // .feedback__slideImg

    &__slideImg {
        width: 100px;
        height: 100%;
        object-fit: contain;
        margin-bottom: 2rem;

        @include mq($until: mobile) {
            width: 70px;
        }
    }

    // .feedback__slideDesc

    &__slideDesc {
        font-family: $lato;
        font-size: 16px;
        line-height: 1.53;
        text-align: center;
        color: #2e3047;
        max-width: 300px;
        margin-bottom: 0.5rem;
        @include mq($until: mobile) {
            max-width: 190px;
            font-size: 12px;
        }
    }

    // .feedback__slideName

    &__slideName {
        font-family: $georgia-bold;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.53;
        text-align: center;
        color: #000;
        margin: 1rem 0 0.5rem;

        @include mq($until: mobile) {
            font-size: 12px;
            margin: 1rem 0 0;
        }
    }

    // .feedback__slidePost

    &__slidePost {
        font-family: $lato;
        font-size: 12px;
        line-height: 1.53;
        text-align: center;
        color: #696969;
        margin-bottom: 0;

        @include mq($until: mobile) {
            font-size: 10px;
        }
    }
}

// Principles Section

.principles {
    padding: 10rem 0 15rem;
    background-image: url("../../images/home/Bg-Principles.png");
    background-size: cover;

    @include mq($until: mini) {
        padding: 6rem 0 0;
    }
    // .principles__wrapper

    &__wrapper {
    }

    // .principles__header

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: max-content;
        margin: 0 auto 8rem;
        position: relative;

        @include mq($until: mini) {
            max-width: 250px;
            margin: 0 auto 2rem;
        }
        @include mq($until: mobile) {
            font-size: 14px;
            max-width: 190px;
        }
    }

    // .principles__doodleImg

    &__doodleImg {
        position: absolute;
        left: -4.5rem;
        top: 1rem;
        @include mq($until: mobile) {
            left: -2.5rem;
            top: 0.5rem;
            width: 40px;
        }
    }

    // .principles__doodleText

    &__doodleText {
        font-family: $brownist;
        font-size: 26px;
        text-align: left;
        color: #16bac5;
        line-height: 1;
        margin-bottom: 0;
        letter-spacing: 1.04px;
    }

    // .principles__title

    &__title {
        font-family: $georgia-bold;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.32px;
        text-align: left;
        color: #2e3047;

        @include mq($until: mini) {
            line-height: 1.2;
        }
        @include mq($until: mobile) {
            font-size: 24px;
        }

        span {
            color: #1873f2;
        }
    }

    // .principles__list

    &__list {
        display: flex;
        justify-content: center;
        @include mq($until: mini) {
            flex-direction: column;
            align-items: center;

            &:first-child {
                .principles__single {
                    .principles__image1 {
                        transform: rotate(270deg);
                    }
                }
            }
            &:nth-child(3n + 2) {
                .principles__single {
                    .principles__image1 {
                        transform: rotate(90deg);
                    }
                }
            }

            &:nth-child(3) {
                .principles__single {
                    .principles__doodleImage2 {
                        left: 5rem;
                    }
                }
            }
        }

        @include mq($until: mobile) {
            transform: scale(0.65);
            margin: -14rem 0;
        }
    }

    // .principles__single

    &__single {
        display: flex;
        align-items: center;
        position: relative;

        @include mq($until: mini) {
            flex-direction: column;
            margin: -3rem 0;
            &:nth-child(4) {
                margin: 3rem 0;
            }
        }

        &:nth-child(even) {
            .principles__doodleImage2 {
                top: 7.5rem;
            }
        }
    }

    // .principles__image1

    &__image1 {
    }

    // .principles__inner

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq($until: mini) {
            transform: rotate(-90deg);
            margin: -3rem 0;
        }
    }

    // .principles__doodleText1

    &__doodleText1 {
        position: absolute;
        top: -7rem;
        color: #e08dac;

        @include mq($until: mini) {
            top: -9rem;
            transform: rotate(90deg);
        }
    }

    // .principles__doodleText2

    &__doodleText2 {
        position: absolute;
        bottom: -9rem;
        top: unset;
        color: #1873f2;
        width: max-content;
        @include mq($until: mini) {
            bottom: -12rem;
            transform: rotate(90deg);
        }
        @include mq($until: mobile) {
            bottom: -11rem;
            width: fit-content;
        }
    }

    // .principles__doodleText3

    &__doodleText3 {
        position: absolute;
        top: -7rem;
        @include mq($until: mini) {
            top: -8rem;
            transform: rotate(90deg);
        }
    }

    // .principles__doodleText4

    &__doodleText4 {
        position: absolute;
        bottom: -9rem;
        top: unset;
        color: #e08dac;
        @include mq($until: mini) {
            bottom: -10rem;
            transform: rotate(90deg);
        }
        @include mq($until: mobile) {
            bottom: -8rem;
        }
    }

    // .principles__doodleImage2

    &__doodleImage2 {
        position: absolute;
        top: -5rem;
    }
}

// Blogs

.blogs {
    padding: 7rem 0;
    background-image: url("../../images/home/blogs_backgrond.jpg");
    background-size: cover;

    @include mq($until: mini) {
        padding: 4rem 0;
    }
    // .blogs__wrapper

    &__wrapper {
    }

    // .blogs__doodleText

    &__doodleText {
        font-family: $brownist;
        font-size: 26px;
        text-align: left;
        color: #2e3047;
        line-height: 1;
        margin-bottom: 0;
        letter-spacing: 1.04px;
        @include mq($until: mobile) {
            font-size: 14px;
            padding: 0 1rem;
        }
    }

    // .blogs__title

    &__title {
        font-family: $georgia-bold;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.32px;
        text-align: left;
        color: #1873f2;

        @include mq($until: mobile) {
            font-size: 24px;
            padding: 0 1rem;
        }
    }

    // .blogs__list

    &__list {
        display: flex;
        gap: 2rem;
        margin-top: 4rem;

        @include mq($until: mini) {
            overflow-x: scroll;
            padding: 2.5rem 1rem;
            margin: 0 -2rem 0 0;
        }

        @include mq($until: mobile) {
            margin: 0 -1rem 0 0;
        }
    }

    // .blogs__blog

    &__blog {
        width: 32%;
        padding: 1rem;
        border-radius: 12px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @include mq($until: mini) {
            min-width: 60%;
        }

        @include mq($until: mobile) {
            min-width: 85%;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 7px 37.5px 0 rgba(0, 43, 181, 0.1);
        }
    }

    // .blogs__image

    &__image {
        width: 100%;
    }

    // .blogs__details

    &__details {
        padding: 1.5rem 0.5rem 1rem;
    }

    // .blogs__stats

    &__stats {
        display: flex;
        align-items: center;
    }

    // .blogs__tags

    &__tags {
        display: flex;
        gap: 10px;
    }
    // .blogs__tag

    &__tag {
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        text-align: left;
        color: #1873f2;
        margin-bottom: 0;
        border-radius: 5.9px;
        padding: 10px;
        background-color: rgba(75, 107, 251, 0.05);
        @include mq($until: mobile) {
            font-size: 10px;
        }
    }

    // .blogs__readTime

    &__readTime {
        font-family: Lato;
        font-size: 13.7px;
        line-height: 1.71;
        text-align: left;
        color: #97989f;
        margin: 0 0 0 auto;
        @include mq($until: mobile) {
            font-size: 10px;
        }
    }

    // .blogs__blogTitle

    &__blogTitle {
        font-family: $lato;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.25;
        text-align: left;
        color: #181a2a;
        margin: 1rem 0;
        @include mq($until: mobile) {
            font-size: 16px;
        }
    }

    // .blogs__desc

    &__desc {
        font-family: $lato-light;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        letter-spacing: 0.14px;
        text-align: left;
        color: #2e3047;
        @include mq($until: mobile) {
            font-size: 12px;
        }
    }

    // .blogs__link

    &__link {
        font-family: $lato;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
        color: #2e3047;
        text-decoration: none;
        position: relative;
        @include mq($until: mobile) {
            font-size: 12px;
        }

        &::after {
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #1873f2;
        }
    }

    // .blogs__linkArrow

    &__linkArrow {
        margin-left: 5px;
    }
}
